.dobContainer {
  margin: 0.5rem;

  .labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerContainer {
      display: flex;
      align-items: center;
    }
  }
  .selectContainer {
    display: flex;
    justify-content: space-between;

    .selectTab {
      flex: 1;
      max-width: 125px;
      height: 36px;
    }
  }
}
